*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}

body{
    background-color: #c0c0c0; /* Цвет фона веб-страницы */
   } 
.hidden {
	display: none;
}

.logo {
    background: url('../img/logo.png') center no-repeat;
    box-sizing: content-box;
    background-size: contain;
    width: 63px;
    height: 21px;
}

h1 {
    text-align: center;
}

.about_block {
    background: right bottom no-repeat #154558;
/*    height: 500px;*/
    background-size: contain;
}
.imageoslik {
	position	: relative;
	width		: 100%; /* for IE 6 */
	background: url('../img/figure3.png');
	height: 100vh;
	background-size: cover;	
	color: white;
	background-attachment: fixed;
	position: relative;
}
.imageoslik h2 {
	text-align: center;
	margin-top: 50px;
	font-size: 350%;
}
.imageoslik .cover {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(14, 47, 22, 0.36);
    top: 0;
    left: 0;
	padding: 150px 20%;
}
.help {
	width: 300px;
    height: 300px;
    background-color: #e2e2e2;
    border-radius: 50%;
    border: 9px solid #1f8221;
    padding: 50px;
    text-align: center;
	color: black;
	position: absolute;
	right: 50px;
	bottom: -50px;
}
.help:after {
	content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 15px;
    left: 0;
    border: 45px solid transparent;
    border-bottom: 38px solid #1f8221;
    border-left: 20px solid #1f8221;
}
.navbar-osliki {
	background-color: #1f8221;
}
.navbar-osliki .navbar-nav a {
	color: white;
}
.navbar-osliki .navbar-nav a:hover {
	background-color: #145415;
}
.navbar-osliki .navbar-nav a:focus {
	background-color: #145415;
}
.finans {
	padding: 25px;
	text-align: center;
}
.slyder h2 {
	text-align: center;
	color : green;
	font-size: 300%
}
.slyder img{
	width : 900px;
	height : 450px;
}
.fond h2 {
	padding-top : 100px ;
	text-align: center;
	font-size: 120%
}
/*___________О НАС __________*/
.about h2{
	padding-top : 100px ;
	text-align: center;
	font-size: 400%
}
.a {
  display: flex;
}
.a1 {
	padding-top: 90px;
	padding-left : 100px;
    width : 60%;
	height : 250px;
}
.a1 img {
	width: 550px;
	height: 350px;
}
.a2 {
	padding-right : 50px;
	padding-top : 100px;
	width: 40%;
}
.a2 h2{
	font-size: 170%
}
.b {
  display: flex;
}
.b1 {
	padding-left : 100px;
	padding-top : 70px;
	width: 40%;
}
.b1 h2{
	font-size: 170%
}
.b2 img {
	width: 550px;
	height: 350px;
}
.b2 {
	padding-top: 120px;
	padding-left : 100px;
    width : 60%;
	height : 250px;
}
.c h2 {
	font-size: 150%;
	
}
.c {
	padding-left : 15px;
	background-color: peru;
	border-radius: 10px;
	margin-left: 80px;
	margin-right : 75px;
	margin-top : 30px;
}
/*__________НАШИ ОСЛИКИ___________*/
.nosliki h2{
	padding-top : 100px ;
	text-align: center;
	font-size: 400%
}
.wrap {
display: flex;
flex-direction: row;
}
    
.catalog{
flex: 1 0 70%;
display: flex;
flex-direction: row; /* расположение блоков слева-направо*/
flex-wrap: wrap; /*заполнение до конца страницы и перенос блока*/
align-items: stretch; /*выравнивание флекс элементов*/
margin-left: 50px;
}
.cell {
padding: 20px;
flex: 0 0 calc( 35% - 30px );
min-width: 300px;
display: flex;
flex-direction: row;
}
.cell_inside {
flex: 1;
padding: 15px;
padding-left: 15px;
min-height: 140px;
}
.cell_inside h2 {
	text-align : center;
}
/*__________КОНТАКТЫ___________*/
.cnct h2 {
	text-align: center;
	margin-top: 120px;
	font-size: 350%;
}
.mesto h2 {
	color: red;
	text-align: center;
	margin-top: 50px;
	font-size: 180%;
}
.map img{
	width : 900px;
	height : 450px;
}